//hero-section
.hero-section{
    padding:157px 0;
    position: relative;
    z-index: 1;
     background-image: url("../images/hero-background.webp");
        background-repeat: no-repeat;
        background-size: cover;
    
     @media (max-width:1799px) {
            padding:140px 0;
        }

        @media (max-width:1366px) {
            padding:120px 0;
        }

          @media (max-width:1199px) {
            padding:100px 0;
        }

          @media (max-width:991px) {
            padding:80px 0;
        }

          @media (max-width:767px) {
            padding:60px 0;
        }
    &::before{
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(96deg, #b00000 0%, #e0005f 100%);
        display: block;
        z-index: -1;
       mix-blend-mode: overlay;
    }

   

    .cta-btns{
        .meering-btn{
            background-color: $white-color;
            color: $primary-color;
            margin-right: 22px;
        }
    }
}

// Service Section
.service-card {
    padding: 30px 0 10px;
    border-bottom: 1px solid $dark-grey;
    position: relative;
    color: $white-color;
    &.no-border {
        border-bottom: 0;
        &::before {
            display: none;
        }
    }
    .service-large-heading {
        font-size: 36px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    p {
        line-height: 1.6;
        letter-spacing: 1px;
        opacity: 0.9;
        font-weight: 300;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transition: $transition-animate;
        background: $gradiant-color;
        height: 1px;
        opacity: 0;
    }
    &:hover {
        &:before {
            opacity: 1;
        }
        .learn-more-link {
            opacity: 1;
            background: $gradiant-color;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            .icon {
                left: 10px;
                &::before {
                    width: 20px;
                }
            }
        }
    }
}
.service-card-list {
    padding: 0;
    list-style: none;
    li {
        padding-left: 12px;
        position: relative;
        font-size: 18px;
        line-height: 1.6;
        font-weight: 300;
        padding-bottom: 2px;
        letter-spacing: 1px;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 12px;
            width: 4px;
            height: 4px;
            border-radius: 4px;
            background: $primary-color;
        }
    }
}
.learn-more-link {
    height: 40px;
    display: flex;
    align-items: center;
    color: $primary-color;
    opacity: 0.5;
    font-weight: 600;
    gap: 15px;
    background: $gradiant-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    .icon {
        position: relative;
        left: 0;
        transition: $transition-animate;
        &::before {
            content: '';
            position: absolute;
            right: 0;
            top: 4px;
            height: 1px;
            width: 10px;
            background: $primary-color;
            transition: $transition-animate;
        }
    }
}

// Industry Section
.industry-section {
    background: linear-gradient(-26deg, #F5F5F5 0%, #fff 100%);
}
.industry-box-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media screen and (max-width:991px) {
        grid-template-columns: 1fr 1fr;
    }
     @media screen and (max-width:767px) {
        grid-template-columns: 1fr;
    }
    border: 1px solid #E8E8E8;
    border-bottom: 0;
    border-right: 0;
    background: $white-color;
}
.industry-box {
    position: relative;
    width: 100%;
    border-right: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(85deg, #B00000 0%, #E0005F 50%, transparent 100%);
        opacity: 0;
        z-index: 1;
        transition: $transition-animate;
    }
    img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
        opacity: 0;
        transition: $transition-animate;
    }
    &:hover {
        &::before {
            opacity: 0.65;
        }
        img {
            opacity: 1;
        }
        .industry-card {
            h3, p {
                color: $white-color;
            }
        }
    }
}
.industry-card {
    padding: 54px 57px 87px 46px;
     @media screen and (max-width:1200px) {
       padding: 42px;
    }
    @media screen and (max-width:991px) {
       padding: 32px;
    }
    position: relative;
    z-index: 2;
    h3 {
        color: $primary-dark;
        font-weight: normal;
        margin-bottom: 16px;
        transition: $transition-animate;
    }
    p {
        color: $primary-dark;
        font-size: 18px;
        line-height: 1.7;
        opacity: 0.9;
        transition: $transition-animate;
    }
}

// Client Section
.client-img-row {
    row-gap: 70px;
}
.client-img-wrapper {
    display: flex;
    justify-content: center;
}

// Review Section
.review-section {
    background: linear-gradient(92deg, #F5CFD0 0%, #FFD9E9 100%);
}
.review-info {
    .title {
        font-size: 24px;
        margin-bottom: 12px;
    }
    .desc {
        font-size: 18px;
        line-height: 36px;
    }
}
.reviewer-box {
    display: flex;
    align-items: center;
    gap: 16px;
    .reviewer-avatar {
        width: 74px;
        height: 74px;
        border-radius: 74px;
        overflow: hidden;
        background: $gradiant-color;
        padding: 2px;
        img {
            max-width: 70px;
            max-height: 70px;
            border-radius: 70px;
        }
    }
    .reviewer-info {
        .title {
            font-size: 18px;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 0;
        }
        .desc {
            font-size: 18px;
            color: #1D1D1D80;
            margin-bottom: 0;
        }
    }
}
.review-thumbnail {
    width: 100%;
}
.review-video-wrapper {
    position: relative;
}
.video-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 56px;
    border-radius: 10px;
    background: $gradiant-color;
    border: 0;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.success-story-card {
    height: 100%;
    border-bottom: 1px solid #E8E8E8;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transition: $transition-animate;
        background: $gradiant-color;
        height: 1px;
        opacity: 0;
    }
    &:hover {
        &:before {
            opacity: 1;
        }
    }
    .category {
        color: $primary-dark;
        opacity: 0.5;
        margin-bottom: 10px;
        margin-top: 27px;
        font-size: 20px;
    }
    .title {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 30px;
        font-weight: normal;
    }
}

.process-section {
    .section-title {
        margin-bottom: 0;
    }
}
.process-slide-wrapper {
    padding-bottom: 120px;
    padding-top: 70px;
    @media screen and (max-width:991px) {
        padding:  48px 0;
    }
    @media screen and (max-width:575px) {
        padding:  36px 0;
    }
   
}
.process-box-wrapper {
    padding: 0 70px;
    @media screen and (max-width:1200px) {
        padding:  0 36px;
    }
    
    .process-box {
        background: #FFFFFF66;
        padding: 52px;
        display: flex;
        @media screen and (max-width:991px) {
            flex-direction: column;
             padding-right: 52px;
             padding: 36px;
        }
        @media screen and (max-width:767px) {
           padding: 20px;
        }
        align-items: center;
        .img-wrapper {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
}
.process-info {
    padding: 0 92px;
    @media screen and (max-width:1400px) {
         padding: 0 0 0 36px;
    }
    max-width: 52%;
    @media screen and (max-width:991px) {
         max-width: 100%;
         padding: 26px 0;
    }
    @media screen and (max-width:767px) {
       padding: 12px 0 0;
    }
    .count {
        margin-bottom: 10px;
    }
    .title {
        font-size: 26px;
        line-height: 35px;
        margin-bottom: 10px;
    }
    .desc {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 0;
    }
}
.process-slider-prev.process-slider-prev {
    &::after {
        content: "";
        width: 30px;
        height: 30px;
        min-width: 30px;
        border: 1px solid #000;
        border-right: 0;
        border-top: 0;
        transform: rotate(45deg);
        @media screen and (max-width:575px) {
          margin-left: 30px;
    }
    }
}
.process-slider-next.process-slider-next {
    &::after {
        content: "";
        width: 30px;
        height: 30px;
        min-width: 30px;
        border: 1px solid #000;
        border-left: 0;
        border-bottom: 0;
        transform: rotate(45deg);
         @media screen and (max-width:575px) {
          margin-right: 30px;
    }
    }
   
}

// blog section 
.blog-section{
    background: linear-gradient(88deg, rgba(245, 207, 208, 0.6) 0%, rgba(255, 217, 233, 0.6) 100%);
    .blog-info{
        .tech-title{
            font-size: 20px;
            color: #1D1D1D80;
        }
        .desc{
            font-size: 26px;
            line-height: 41px;
        }
        .desc-details{
            font-size: 18px;
            line-height: 31px;
        }
        .time-date{
            font-size: 16px;
             color: #1D1D1D80;
        }
        .profile-box {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    .profile-avatar {
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;
                        img {
                            max-width: 48px;
                            max-height: 48px;
                            border-radius: 50%;
                        }
                    }
                }
                .profile-info {
                    .title {
                        font-size: 18px;
                        font-weight: 600;
                        line-height: normal;
                        margin-bottom: 0;
                    }
                    .designation {
                        font-size: 18px;
                        color: #1D1D1D80;
                        margin-bottom: 0;
                    }
        }
    }
}
// .why-us-list {
//     padding-left: 128px;
// }
// .why-us-item {
//     margin-bottom: 40px;
//     &:last-child {
//         margin-bottom: 0;
//     }
//     .title {
//         font-size: 24px;
//         margin-bottom: 5px;
//     }
//     .desc {
//         font-size: 18px;
//         line-height: 1.6;
//         margin-bottom: 0;
//     }
// }



// why-choose-section

.why-choose-section{
.service-left-space{
    @media screen and (min-width:1200px) {
        padding-left: 152px;
    }
    .services{
    h3{
    font-size: 24px;
    font-weight: 500;
    }
    p{
        font-size: 18px;
    }
    }
}
.top-spacing-location{
    margin-top: 36px;
     @media screen and (min-width:1200px) {
    margin-top: 120px;
    }
      .location{
    h3{
    font-size: 24px;
    font-weight: 500;
    }
    p{
        font-size: 18px;
    }
    }
    // svg hover effect 
.map-dot {
  fill: #D81F28;
  transform-origin: center;
  transform-box: fill-box;
  transition: transform 0.3s ease;
}
.map-dot.pulse {
  animation: pulse-zoom 1.2s infinite;
}
.location-item[data-location="usa"]:hover ~ svg .map-dot[data-location="usa"],
.location-item[data-location="uk"]:hover ~ svg .map-dot[data-location="uk"],
.location-item[data-location="germany"]:hover ~ svg .map-dot[data-location="germany"],
.location-item[data-location="india"]:hover ~ svg .map-dot[data-location="india"],
.location-item[data-location="southafrica"]:hover ~ svg .map-dot[data-location="southafrica"] {
  animation: pulse-zoom 1.2s infinite;
}
.map-dot {
  fill: #D81F28;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes pulse-zoom {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(7);
    opacity: 0.6;
  }
}
.map-dot.pulse {
  animation: pulse-zoom 1.5s infinite;
}
}
}
