// Service Section
.service-card {
    padding: 30px 0 10px;
    border-bottom: 1px solid $dark-grey;
    position: relative;
    &.no-border {
        border-bottom: 0;
        &::before {
            display: none;
        }
    }
    .service-large-heading {
        font-size: 36px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    p {
        line-height: 1.6;
        letter-spacing: 0.6px;
        opacity: 0.9;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transition: $transition-animate;
        background: $gradiant-color;
        height: 1px;
        opacity: 0;
    }
    &:hover {
        &:before {
            opacity: 1;
        }
        .learn-more-link {
            opacity: 1;
            background: $gradiant-color;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            .icon {
                left: 10px;
                &::before {
                    width: 20px;
                }
            }
        }
    }
}
.service-card-list {
    padding: 0;
    list-style: none;
    li {
        padding-left: 12px;
        position: relative;
        line-height: 1.6;
        padding-bottom: 2px;
        letter-spacing: 0.6px;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 8px;
            width: 4px;
            height: 4px;
            border-radius: 4px;
            background: $primary-color;
        }
    }
}
.learn-more-link {
    height: 40px;
    display: flex;
    align-items: center;
    color: $primary-color;
    opacity: 0.5;
    font-weight: 600;
    gap: 15px;
    background: $gradiant-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    .icon {
        position: relative;
        left: 0;
        transition: $transition-animate;
        &::before {
            content: '';
            position: absolute;
            right: 0;
            top: 4px;
            height: 1px;
            width: 10px;
            background: $primary-color;
            transition: $transition-animate;
        }
    }
}

// Industry Section
.industry-section {
    background: linear-gradient(-26deg, #F5F5F5 0%, #fff 100%);
}
.industry-box-wrapper {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #E8E8E8;
    border-bottom: 0;
    border-right: 0;
    background: $white-color;
}
.industry-box {
    position: relative;
    width: 33.33%;
    border-right: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(85deg, #B00000 0%, #E0005F 50%, transparent 100%);
        opacity: 0;
        z-index: 1;
        transition: $transition-animate;
    }
    img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
        opacity: 0;
        transition: $transition-animate;
    }
    &:hover {
        &::before {
            opacity: 0.65;
        }
        img {
            opacity: 1;
        }
        .industry-card {
            h3, p {
                color: $white-color;
            }
        }
    }
}
.industry-card {
    padding: 54px 57px 87px 46px;
    position: relative;
    z-index: 2;
    h3 {
        color: $primary-dark;
        font-weight: normal;
        margin-bottom: 16px;
        transition: $transition-animate;
    }
    p {
        color: $primary-dark;
        font-size: 18px;
        line-height: 1.7;
        opacity: 0.9;
        transition: $transition-animate;
    }
}

// Client Section
.client-img-row {
    row-gap: 70px;
}
.client-img-wrapper {
    display: flex;
    justify-content: center;
}

// Review Section
.review-section {
    background: linear-gradient(92deg, #F5CFD0 0%, #FFD9E9 100%);
}
.review-info {
    padding-right: 75px;
    .section-title {
        margin-bottom: 30px;
    }
    .title {
        font-size: 24px;
        margin-bottom: 12px;
    }
    .desc {
        font-size: 18px;
        line-height: 36px;
        margin-bottom: 24px;
    }
}
.reviewer-box {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 30px;
    .reviewer-avatar {
        width: 74px;
        height: 74px;
        border-radius: 74px;
        overflow: hidden;
        background: $gradiant-color;
        padding: 2px;
        img {
            max-width: 70px;
            max-height: 70px;
            border-radius: 70px;
        }
    }
    .reviewer-info {
        .title {
            font-size: 18px;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 0;
        }
        .desc {
            font-size: 18px;
            color: #1D1D1D80;
            margin-bottom: 0;
        }
    }
}
.review-thumbnail {
    width: 100%;
}
.review-video-wrapper {
    position: relative;
}
.video-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 56px;
    border-radius: 10px;
    background: $gradiant-color;
    border: 0;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.success-story-card {
    height: 100%;
    border-bottom: 1px solid #E8E8E8;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transition: $transition-animate;
        background: $gradiant-color;
        height: 1px;
        opacity: 0;
    }
    &:hover {
        &:before {
            opacity: 1;
        }
    }
    .category {
        color: $primary-dark;
        opacity: 0.5;
        margin-bottom: 10px;
        margin-top: 27px;
        font-size: 20px;
    }
    .title {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 30px;
        font-weight: normal;
    }
}