//hero-section
.hero-section{
    padding:157px 0;
    position: relative;
    z-index: 1;

        @media (max-width:1799px) {
            padding:140px 0;
        }

        @media (max-width:1366px) {
            padding:120px 0;
        }

          @media (max-width:1199px) {
            padding:100px 0;
        }

          @media (max-width:991px) {
            padding:80px 0;
        }

          @media (max-width:767px) {
            padding:60px 0;
        }
    &::before{
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(96deg, #b00000 0%, #e0005f 100%);
        display: block;
        z-index: -1;
       mix-blend-mode: overlay;
    }

      &::after{
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background-image: url("../images/hero-background.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: -2;
        filter: blur(5px);
    }

    .cta-btns{
        gap: 22px;

        @media (max-width:767px) {
            gap: 15px;
            flex-direction: column;
            align-items: flex-start;
        }
        .meering-btn{
            background-color: $white-color;
            color: $primary-color;
        }
    }
}

// Service Section
.service-card {
    padding: 30px 0 10px;
    border-bottom: 1px solid $dark-grey;
    position: relative;
    color: $white-color;
    &.no-border {
        border-bottom: 0;
        &::before {
            display: none;
        }
    }
    .service-large-heading {
        font-size: 36px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    p {
        line-height: 1.6;
        letter-spacing: 1px;
        opacity: 0.9;
        font-weight: 300;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transition: $transition-animate;
        background: $gradiant-color;
        height: 1px;
        opacity: 0;
    }
    &:hover {
        &:before {
            opacity: 1;
        }
        .learn-more-link {
            opacity: 1;
            background: $gradiant-color;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            .icon {
                left: 10px;
                &::before {
                    width: 20px;
                }
            }
        }
    }
}
.service-card-list {
    padding: 0;
    list-style: none;
    li {
        padding-left: 12px;
        position: relative;
        font-size: 18px;
        line-height: 1.6;
        font-weight: 300;
        padding-bottom: 2px;
        letter-spacing: 1px;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 12px;
            width: 4px;
            height: 4px;
            border-radius: 4px;
            background: $primary-color;
        }
    }
}
.learn-more-link {
    height: 40px;
    display: flex;
    align-items: center;
    color: $primary-color;
    opacity: 0.5;
    font-weight: 600;
    gap: 15px;
    background: $gradiant-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    .icon {
        position: relative;
        left: 0;
        transition: $transition-animate;
        &::before {
            content: '';
            position: absolute;
            right: 0;
            top: 4px;
            height: 1px;
            width: 10px;
            background: $primary-color;
            transition: $transition-animate;
        }
    }
}

// Industry Section
.industry-section {
    background: linear-gradient(-26deg, #F5F5F5 0%, #fff 100%);
}
.industry-box-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media screen and (max-width:991px) {
        grid-template-columns: 1fr 1fr;
    }
     @media screen and (max-width:767px) {
        grid-template-columns: 1fr;
    }
    border: 1px solid #E8E8E8;
    border-bottom: 0;
    border-right: 0;
    background: $white-color;
}
.industry-box {
    position: relative;
    width: 100%;
    border-right: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(85deg, #B00000 0%, #E0005F 50%, transparent 100%);
        opacity: 0;
        z-index: 1;
        transition: $transition-animate;
    }
    img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
        opacity: 0;
        transition: $transition-animate;
    }
    &:hover {
        &::before {
            opacity: 0.65;
        }
        img {
            opacity: 1;
        }
        .industry-card {
            h3, p {
                color: $white-color;
            }
        }
    }
}
.industry-card {
    padding: 54px 57px 87px 46px;
     @media screen and (max-width:1200px) {
       padding: 42px;
    }
    @media screen and (max-width:991px) {
       padding: 32px;
    }
    @media screen and (max-width:575px) {
       padding: 24px;
    }
    position: relative;
    z-index: 2;
    h3 {
        color: $primary-dark;
        font-weight: normal;
        margin-bottom: 16px;
        transition: $transition-animate;
    }
    p {
        color: $primary-dark;
        font-size: 18px;
        line-height: 1.7;
        opacity: 0.9;
        transition: $transition-animate;
    }
}

// Client Section
.client-img-row {
    row-gap: 70px;
    @media screen and (max-width:991px) {
        row-gap: 52px;
    }
    @media screen and (max-width:767px) {
        row-gap: 42px;
    }
}
.client-img-wrapper {
    display: flex;
    justify-content: center;
}

// Review Section
.review-section {
    background: linear-gradient(92deg, #F5CFD0 0%, #FFD9E9 100%);
}
.review-info {
    .title {
        font-size: 24px;
        margin-bottom: 12px;
    }
    .desc {
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 0.01em;
    }
}
.reviewer-box {
    display: flex;
    align-items: center;
    gap: 16px;
    .reviewer-avatar {
        width: 74px;
        height: 74px;
        border-radius: 74px;
        overflow: hidden;
        background: $gradiant-color;
        padding: 2px;
        img {
            max-width: 70px;
            max-height: 70px;
            border-radius: 70px;
        }
    }
    .reviewer-info {
        .title {
            font-size: 18px;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 0;
        }
        .desc {
            font-size: 18px;
            color: #1D1D1D80;
            margin-bottom: 0;
        }
    }
}
.review-thumbnail {
    width: 100%;
}
.review-video-wrapper {
    position: relative;
}
.video-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 56px;
    border-radius: 10px;
    background: $gradiant-color;
    border: 0;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.success-story-card {
    height: 100%;
    border-bottom: 1px solid #E8E8E8;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transition: $transition-animate;
        background: $gradiant-color;
        height: 1px;
        opacity: 0;
    }
    &:hover {
        &:before {
            opacity: 1;
        }
    }
    .category {
        color: $primary-dark;
        opacity: 0.5;
        margin-bottom: 10px;
        margin-top: 27px;
        font-size: 20px;
    }
    .title {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 30px;
        font-weight: normal;
    }
}

.process-section {
    .section-title {
        margin-bottom: 0;
    }
}
.process-slide-wrapper {
    padding-bottom: 120px;
    padding-top: 70px;
    @media screen and (max-width:1400px) {
        padding:  48px 0 ;
    }
    @media screen and (max-width:991px) {
        padding:  48px 0;
    }
    @media screen and (max-width:575px) {
        padding:  48px 0;
    }
   
}
.process-box-wrapper {
    padding: 0 70px;
    @media screen and (max-width:1200px) {
        padding:  0 36px;
    }
    
    .process-box {
        background: #FFFFFF66;
        padding: 52px;
        display: flex;
        @media screen and (max-width:991px) {
            flex-direction: column;
             padding-right: 52px;
             padding: 36px;
        }
        @media screen and (max-width:767px) {
           padding: 20px;
        }
        align-items: center;
        .img-wrapper {
            width: 100%;
            img {
                width: 100%;
                max-height: 448px;
            }
        }
    }
}
.process-info {
    padding: 0 92px;
    @media screen and (max-width:1400px) {
         padding: 0 0 0 36px;
    }
    max-width: 52%;
    @media screen and (max-width:991px) {
         max-width: 100%;
         padding: 26px 0;
    }
    @media screen and (max-width:767px) {
       padding: 12px 0 0;
    }
    .count {
        margin-bottom: 10px;
    }
    .title {
        font-size: 26px;
        line-height: 35px;
        margin-bottom: 10px;
    }
    .desc {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 0;
    }
}
.process-slider-prev.process-slider-prev {
    &::after {
        content: "";
        width: 30px;
        height: 30px;
        min-width: 30px;
        border: 1px solid #000;
        border-right: 0;
        border-top: 0;
        transform: rotate(45deg);
        @media screen and (max-width:575px) {
          margin-left: 30px;
    }
    }
}
.process-slider-next.process-slider-next {
    &::after {
        content: "";
        width: 30px;
        height: 30px;
        min-width: 30px;
        border: 1px solid #000;
        border-left: 0;
        border-bottom: 0;
        transform: rotate(45deg);
         @media screen and (max-width:575px) {
          margin-right: 30px;
    }
    }
   
}

// blog section 
.blog-section{
    background: linear-gradient(88deg, rgba(245, 207, 208, 0.6) 0%, rgba(255, 217, 233, 0.6) 100%);
    
}
.blog-info{
        .tech-title{
            font-size: 20px;
            color: #1D1D1D80;
        }
        .desc{
            font-size: 26px;
            line-height: 41px;
        }
        .desc-details{
            font-size: 18px;
            line-height: 31px;
        }
        .time-date{
            p{
                font-size: 16px;
                color: #1D1D1D80;
                display: flex;
                align-items: center;
                .mini{
                    display : flex;
                    align-items: center;
                }
                .mini::after {
                    content: '';
                    display: inline-block;
                    width: 5px;
                    height: 5px;
                    background-color:  #4a4647;
                    border-radius: 50%;
                    margin: 0 10px;
                    vertical-align: middle;
                    
                }
            }
        }
        .profile-box {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    .profile-avatar {
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;
                        overflow: hidden;
                        img {
                            max-width: 48px;
                            max-height: 48px;
                            border: 1px solid $primary-color;
                             border-radius: 50%;
                     
                        }
                    }
                }
                .profile-info {
                    font-family: $sora-font-family;
                    .title {
                        font-size: 18px;
                        font-weight: 600;
                        line-height: normal;
                        margin-bottom: 0;
                    }
                    .designation {
                        font-size: 18px;
                        color: #1D1D1D80;
                        margin-bottom: 0;
                    }
        }
    }

// why-choose-section
.service-left-space{
    @media screen and (min-width:1400px) {
        padding-left: 152px;
    }
    .services{
    h3{
    font-size: 24px;
    font-weight: 500;
    }
    p{
        font-size: 18px;
        margin-bottom: 26px;
    }
    }
}

.top-spacing-location{
    margin-top: 36px;
     @media screen and (min-width:1200px) {
       margin-top: 120px;
    }
    .location{
    h3{
    font-size: 24px;
    font-weight: 500;
    }
    p{
        font-size: 18px;
        margin-bottom: 26px;
    }
    }
    // svg hover effect 
.map-dot {
  fill: #D81F28;
  transform-origin: center;
  transform-box: fill-box;
  transition: transform 0.3s ease;
}
.map-dot.pulse {
  animation: pulse-zoom 1.2s infinite;
}
.location-item[data-location="usa"]:hover ~ svg .map-dot[data-location="usa"],
.location-item[data-location="uk"]:hover ~ svg .map-dot[data-location="uk"],
.location-item[data-location="germany"]:hover ~ svg .map-dot[data-location="germany"],
.location-item[data-location="india"]:hover ~ svg .map-dot[data-location="india"],
.location-item[data-location="southafrica"]:hover ~ svg .map-dot[data-location="southafrica"] {
  animation: pulse-zoom 1.2s infinite;
}
.map-dot {
  fill: #D81F28;
  transform-origin: center;
  transform-box: fill-box;
}
        @keyframes pulse-zoom {
            0%, 100% {
                transform: scale(1);
                opacity: 1;
            }
            50% {
                transform: scale(7);
                opacity: 0.6;
            }
        }
        .map-dot.pulse {
            animation: pulse-zoom 1.5s infinite;
        }
}

.inner-banner {
    position: relative;
    overflow: hidden;
    padding: 132px 0;
    @media screen and (max-width:575px) {
         padding: 84px 0;
    }
    .bg-img {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: linear-gradient(-90deg, #00000080 0%, #c2083af2 60%);
        }
    }
    &.small-banner {
        padding: 20px 0 75px;
        .bg-img {
            &:after {
                background: linear-gradient(90deg, #D81F28 0%, #E0005F 100%);
            }
        }
        h1 {
            margin-bottom: 0;
        }
    }
    .inner-banner-wrapper {
        position: relative;
        z-index: 1;
    }
    h1 {
        font-size: 48px;
        line-height: 1.3;
        font-weight: 600;
        margin-bottom: 20px;
    }
    p {
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 1px;
        margin-bottom: 20px;
        color: $white-color;
        font-weight: 300;
        letter-spacing: 1.2px;
    }
}

.about-section {
    .section-title {
        margin-bottom: 37px;
    }
    p {
        font-size: 18px;
        line-height: 1.65;
        letter-spacing: 1px;
        margin-bottom: 40px;
        font-weight: 300;
        opacity: 0.9;
    }
    .about-info-wrapper {
        padding-right: 58px;
        @media screen and (max-width:1200px) {
             padding-right: 0;
        }
        .count {
            font-size: 36px;
            line-height: 1.4;
            margin-bottom: 0;
            font-weight: 300;
        }
        .count-name {
            font-size: 18px;
            font-weight: 300;
        }
    }
}

.journey-section {
    background: linear-gradient(122deg, #FFFFFF 0%, #F5F5F5 100%);
}
.journey-slider {
    padding: 0 130px;
    padding-bottom: 120px;
     @media screen and (max-width:1200px) {
              padding: 0 80px;
              padding-bottom: 120px;
        }
         @media screen and (max-width:991px) {
             padding: 0 48px;
             padding-bottom: 86px;
        }
         @media screen and (max-width:575px) {
              padding: 0 36px;
              padding-bottom: 120px;
         }
    .journey-content {
        padding-left: 20px;
          @media screen and (max-width:991px) {
            margin-top: 30px;
          }
        @media screen and (max-width:768px) {
            padding-left: 0;
        }
          @media screen and (max-width:575px) {
            margin-top: 12px;
          }
    }
    .title {
        font-size: 26px;
        font-weight: 300;
        margin-bottom: 16px;
    }
    .desc {
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 1px;
        opacity: 0.9;
        line-height: 1.7;
    }
}
.journey-slider-prev.journey-slider-prev {
    &::after {
        content: "";
        width: 30px;
        height: 30px;
        min-width: 30px;
        border: 1px solid #000;
        border-right: 0;
        border-top: 0;
        transform: rotate(45deg);
    }
}
.journey-slider-next.journey-slider-next {
    &::after {
        content: "";
        width: 30px;
        height: 30px;
        min-width: 30px;
        border: 1px solid #000;
        border-left: 0;
        border-bottom: 0;
        transform: rotate(45deg);
    }
}
.journey-pagination {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 130px;
     @media screen and (max-width:991px) {
        padding: 0 48px;
        justify-content: center;
        gap: 15px;
     }
     @media screen and (max-width:575px) {
        padding: 0 0px;
        gap: 10px !important;
     }
    bottom: 0 !important;
    .swiper-pagination-bullet {
        width: auto;
        background: transparent;
        height: auto;
    }
}


// ----swiper slider navigation dots

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 11%;
    @media screen and (max-width:1400px) {
     bottom: 2%;
    }
}


.process-section .swiper-pagination-bullet-active {
    background: $white-color;
}
.process-section .swiper-pagination-bullet {
  background: transparent;
  opacity: 1;
  border: 1px solid $white-color;
}
.process-section .swiper-pagination-bullet-active{
    background: $white-color !important;
}

.career-section {
    .bg-img {
        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: linear-gradient(-90deg, #28020200 0%, #D81F28E6 64%);
        }
    }
}

.delivery-record-section {
    background: linear-gradient(-23deg, #F5F5F5 0%, #FFFFFF 100%);
    .section-title {
        margin-bottom: 21px;
    }
}
.delivery-record-wrapper {
    padding-top: 70px;
     @media screen and (max-width:991px) {
         padding-top: 36px;
}
}
.record-item {
    padding: 50px 30px;
    @media screen and (max-width:991px) {
         padding: 36px 0;
    }
    @media screen and (max-width:575px) {
         padding: 18px 0;
    }
    border-bottom: 1px solid #EBEBEB;
    transition: $transition-animate;
    &:hover {
        background: $white-color;
    }
    &:first-child {
        border-top: 1px solid #EBEBEB;
    }
    .title {
        font-size: 26px;
        letter-spacing: 0.3px;
        font-weight: 300;
        margin-bottom: 0;
    }
    .img-wrapper {
        @media screen and (max-width: 991px) {
            max-width: 90px;
            img {
                max-height: 50px;
            }
        }
    }
}

.holiday-card {
    padding: 40px;
    background: #FAFAFA;
    border: 1px solid #1D1D1D33;
    margin-bottom: 24px;
    .date {
        font-size: 32px;
        line-height: 1;
        margin-bottom: 16px;
        letter-spacing: 0.3px;
    }
    .day {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 10px;
        letter-spacing: 1px;
    }
    .holiday-name {
        font-size: 26px;
        line-height: 33px;
        letter-spacing: 0.3px;
        margin-bottom: 40px;
    }
    .link {
        font-size: 16px;
        letter-spacing: 0.6px;
        color: $primary-color;
        font-weight: 600;
    }
}
.meet-section {
    background: linear-gradient(90deg, #F5CFD0 0%, #FFD9E9 100%);
    overflow: hidden;
    h3 {
        font-size: 36px;
        line-height: 55px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .meet-desc {
        font-size: 24px;
        letter-spacing: 0.3px;
        font-weight: 300;
        margin-bottom: 20px;
    }
}
.meet-img-box {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .img-wrapper {
        position: relative;
        z-index: 2;
    }
}
.img-bg-strip {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    &:before {
        content: '';
        position: absolute;
        top: -20%;
        right: 0;
        background: #E0005F;
        width: 80px;
        height: 140%;
        transform: rotate(30deg);
    }
    &:after {
        content: '';
        position: absolute;
        top: -20%;
        right: 92px;
        background: #CC1763;
        width: 80px;
        height: 140%;
        transform: rotate(30deg);
    }
    span {
        &:before {
            content: '';
            position: absolute;
            top: -20%;
            right: 184px;
            background: #EC2730;
            width: 80px;
            height: 140%;
            transform: rotate(30deg);
        }
        &:after {
            content: '';
            position: absolute;
            top: -20%;
            right: 276px;
            background: #D81F28;
            width: 80px;
            height: 140%;
            transform: rotate(30deg);
        }
    }
}
.meeting-person-info {
    padding-right: 150px;
    text-align: right;
    padding-bottom: 40px;
    .title {
        font-size: 20px;
        letter-spacing: 0.3px;
        margin-bottom: 4px;
    }
    .desc {
        margin-bottom: 0;
        color: #1D1D1D80;
    }
}
.our-promise{
    margin-top: 70px;
    @media screen and (max-width:991px) {
        margin-top: 36px;
    }
}

// how we do section -Our Process

.How-we-do-section {
    
.section-desc p{
    font-size: 18px;
    letter-spacing: 0.04em;
    line-height: 170%;
    }
   
}

.How-we-do-box-wrapper {
    margin-top: 70px;
     @media screen and (max-width:991px) {
      margin-top: 36px;
    }
    display: grid;
    grid-template-columns: 1fr 1fr;
     @media screen and (max-width:767px) {
        grid-template-columns: 1fr;
    }
    border: 1px solid #E8E8E8;
    border-bottom: 0;
    border-right: 0;
    background: $white-color;
}

.How-we-do-box {
    position: relative;
    width: 100%;
    border-right: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(85deg, #B00000 0%, #E0005F 100%);
        opacity: 0;
        z-index: 1;
        transition: $transition-animate;
    }
    img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
        opacity: 0;
        transition: $transition-animate;
    }
    &:hover {
        &::before {
            opacity: 0.65;
        }
        img {
            opacity: 1;
        }
    }
    &:hover .How-we-do-card{
        h3, p{
            color: $white-color;
               transition: $transition-animate;
        }
        svg path{
            stroke: $white-color;
            transition: $transition-animate;
        }
    }
}
.How-we-do-card {
    padding: 40px;
    @media screen and (max-width:991px) {
       padding: 32px;
    }
    @media screen and (max-width:575px) {
       padding: 18px;
    }
    position: relative;
    z-index: 2;
    h3 {
        color: $primary-dark;
        font-weight: normal;
        margin-bottom: 16px;
        transition: $transition-animate;
    }
    
    p {
        color: $primary-dark;
        font-size: 18px;
        line-height: 1.7;
        letter-spacing: 0.04em;
        opacity: 0.9;
        transition: $transition-animate;
    }
}

// planning section

.planning-main-wrapper{
    position: relative;
    padding: 100px 0 50px;
    @media screen and (max-width:991px) {
        padding: 50px 0 0;
    }
    @media screen and (max-width:575px) {
        padding: 36px 0 0;
    }
    .sidebar-menu{
        position: sticky;
        top: 140px;
        max-width: 334px;
        border: 1px solid #E8E8E8;
        padding: 30px;
        ul{ 
            margin-top: 16px;
            padding-inline-start: 0;
            li{
                list-style: none;
                font-size: 16px;
                padding-bottom: 8px;
                color: $primary-dark;
                cursor: pointer;
            }
            li:last-child {
                padding-bottom: 0;
            }
            .active{
                font-weight: 600;
            }
            
            padding-bottom: 16px;
              border-bottom: 1px solid #E8E8E8;
        }
        h5{
           font-size: 20px;
           font-weight: 500; 
           padding-bottom: 16px;
           border-bottom: 1px solid #E8E8E8;
           margin-bottom: 0;
            color: $primary-dark;
            letter-spacing: 0.01em;
        }
        h6{
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 0;
            color: $primary-dark;
            letter-spacing: 0.01em;
            cursor: pointer;
        }
    }
    .content-section{
      @media screen and (max-width:991px) {
        margin-top: 36px;
    }
        h3{
            font-size: 28px;
            font-weight: 600;
             color: $primary-dark;
             letter-spacing: 0.01em;
        }
        p{
            font-size: 18px;
            margin-bottom: 0;
            line-height: 200%;
            color: $primary-dark;
            letter-spacing: 0.04em;
        }
        .step-div{
            margin-top: 50px;
            position: relative;
            padding-left: 30px;
            .progress-line-container {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 2px;
                background-color: #eee;
                    .progress-line {
                        width: 100%;
                        height: 0;
                        background-color: #D81F28;
                        transition: height 0.6s ease;
                    }
            }
            .step {
                margin-bottom: 40px;
                scroll-padding-top: 190px;
             h4{
                font-size: 28px;
                font-weight: 600;
                margin-bottom: 26px;
                margin-top: 40px;
                letter-spacing: 0.01em;
            }
            }
           
        }
    }
}
