footer {
  background-color: $primary-dark;
  @media screen and (min-width: 1400px) {
    .container {
      max-width: 1186px;
    }
  }
  .container {
    padding: 80px 0 34px;
    @media screen and (max-width:991px) {
      padding: 40px 0;
    }
    form {
      font-family: 'Sora' !important;
      margin: 50px 0 50px;
      .form-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 50px;
        column-gap: 30px;
        @media screen and (max-width:767px) {
          grid-template-columns: 1fr;
          row-gap: 30px;
        }
         input:-webkit-autofill {
          background-color: transparent !important;
          -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
          -webkit-text-fill-color: $white-color !important;
          transition: background-color 5000s ease-in-out 0s !important;
        }
        .description,
        .attachment-wrapper,
        .checkbox-div,
        .submit-btn-div {
          font-family: 'Sora' !important;
          grid-column: span 2;
          @media screen and (max-width:767px) {
            grid-column: span 1;
          }
        }
        .select-wrapper .form-select{
          background-image: none;
        }
        .select-wrapper {
          position: relative;
          max-width: fit-content;
          width: 100%;
          #timezone {
          max-width: fit-content;
          height: 44px;
          @media screen and (max-width:767px) {
             max-width: 130px;
          }
          background-color: transparent;
          color: $white-color;
          border: none;
          border-bottom: 1px solid #ffffff80;
          border-radius: 0;
          padding: 8px 12px 0 0;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          font-size: 14px;
          option {
            background-color: $primary-dark;
            color: $white-color;
            border-radius: 0 $i;
          }
        }
          select {
            width: 100%;
            padding-right: 30px; 
          }
          &::after {
            content: '';
            position: absolute;
            right: 10px;
            top: 61%;
            transform: translateY(-50%);
            width: 12px;
            height: 7px;
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.951172 0.5L5.95117 5.5L10.9512 0.5' stroke='white' stroke-opacity='0.5'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: contain;
            pointer-events: none;
          }
        }
        .attachment-wrapper {
          font-family: 'Sora' !important;
          display: flex;
          flex-direction: column;
          .custom-upload {
            display: flex;
            align-items: center;
            padding: 10px 0;
            border-radius: 4px;
            position: relative;
            row-gap: 10px;
            flex-wrap: wrap;
            .upload-btn {
               font-family: 'Sora' !important;
              background-color: $secondary-dark ;
              border: 1px solid #ffffff80;
              margin-right: 12px;
              font-size: 14px;
              margin-right: 12px;
              cursor: pointer;
              max-width: 179px;
              width: 100%;
              padding: 15px 6px;
              color: #ffffff80;
              outline: none;
            }
            .upload-text {
               font-family: 'Sora' !important;
              color: #ffffff40;
              font-size: 14px;
              white-space: nowrap;
            }
            .file-input {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              opacity: 0;
              cursor: pointer;
            }
          }
        }
        .form-label {
           font-family: 'Sora' !important;
          color: #ffffff80 $i;
          font-size: 14px;
          margin-bottom: 8px;
        }
        .input-prefix-wrapper {
            position: relative;
            width: 100%;
          }
          .input-prefix-wrapper .prefix-text {
            position: absolute;
            left: 12px;
            top: 61%;
            transform: translateY(-50%);
            color: #ffffffb3;
             font-family: 'Sora' !important;
            font-size: 14px;
            pointer-events: none;
          }
          .input-prefix-wrapper input {
            padding-left: 48px !important; 
          }
          .form-floating > .form-control,
          .form-floating > .form-select {
              height: calc(3rem + 2px) !important;
              line-height: 1.25;
              padding-top: 10px;
          }
          .form-floating > #description{
            padding-top: 20px !important;
          }
        .form-floating {
          label {
             font-family: 'Sora' !important;
            color: #ffffff80 $i;
            padding-left: 0;
            font-size: 14px;
            padding: 12px 0 0;
            margin-bottom: 0;
            transition: padding-top 0.4s ease;
          }
          >.form-control::placeholder {
            opacity: 0;
          }
          >.form-control:focus~label,
          >.form-control:not(:placeholder-shown)~label {
            padding-top: 0 $i;
          }
        }
        .form-control,
        .form-select {
           font-family: 'Sora' !important;
          padding: 12px 0 0;
          color: $white-color;
          border: none $i;
          border-bottom: 1px solid #ffffff80 $i;
          border-radius: 0 $i;
          background-color: transparent $i;
          &:focus,
          &:active {
            background-color: transparent $i;
            outline: none $i;
            border-bottom-color: $white-color $i;
            transition: border-bottom-color 0.4s ease-in-out;
            box-shadow: none $i;
          }
          &::placeholder {
            color: #ffffff80;
          }
        }
        .form-select {
          padding: 19px 0 ;
        }
        .form-check-input{
          height: 26px;
          width: 26px;
          border-radius: 3px;
          margin-right: 18px $i;
          background-color: $secondary-dark !important;
          border: 1px solid #ffffff80 !important;
          border-radius: 3px !important;
        }
        .form-check-input:checked {
          background-color: #d81f28;
          border-color: #d81f28;
        }
        .form-check-input:focus{
          box-shadow: none !important;
        }
                .form-floating>.form-control:focus~label,
                .form-floating>.form-control:not(:placeholder-shown)~label,
                .form-floating>.form-select~label {
                  opacity: 0.65;
                  transform: scale(1) translateY(-0.5rem) translateX(0rem) !important;
                  -webkit-transform: scale(1) translateY(-0.5rem) translateX(0rem) !important;
                }

        .form-floating > textarea.form-control:not(:placeholder-shown) ~ label {
          padding-top: 0 !important;
          transition: padding-top 0.3s ease;
        }
        textarea.form-control{
           min-height: 85px !important;
        }
        textarea.form-control {
          resize: vertical;
          padding: 22px 0 0;
        }
        .form-check-label {
          color: #ffffff40;
          font-size: 14px;
          a {
            color: $white-color;
            text-decoration: underline;
            &:hover {
              color: $white-color;
            }
          }
        }
        .submit-btn-div {
            .btn-submit {
               font-family: 'Sora' !important;
              background: linear-gradient(90.08deg, #D81F28 -0.75%, #E0005F 100.45%);
              color: $white-color;
              border: none;
              width: 100%;
              font-size: 16px;
              padding: 19px 0 ;
              border-radius: 4px;
              transition: opacity 0.3s;
              font-weight: 500;
              line-height: normal;
              &:hover {
                opacity: 0.9;
                transform: $transition-animate;
              }
            }
          }
      }
    }
   
  }
  .footer-bottom-main {
    background-color: $secondary-dark;
    .container {
        @media screen and (min-width:1400px){
          max-width: 1430px;
          width: 100% !important;
        }
      } 
    .footer-bottom-bar.container{
       padding: 0;
    }
    .footer-bottom-bar {
      width: 100%;
       .certification-logo-wrapper {
        margin: 0 auto;
        overflow: hidden;
        width: 100%;
      }
      .certification-logo {
        padding: 70px 0 70px;
        @media screen and (max-width:1399px) {
            padding: 64px 0 64px;
          }
        @media screen and (max-width:991px) {
           padding: 48px 0 48px;
        }
        @media screen and (max-width:767px) {
          padding: 36px 0 36px;
        }
        @media screen and (max-width:575px) {
          padding: 24px 0 24px;
        }
        .certification-logo.swiper-container {
          width: 100%;
          overflow: hidden;
        }
        .swiper-wrapper {
          transition-timing-function: linear !important; 
          align-items: center;
        }
        .swiper-slide {
          width: auto; 
          display: flex;
          justify-content: center;
          align-items: center;
        }     
        img {
          filter: grayscale(1);
        }
      }
      .copyright-social {
        display: flex;
        padding: 39px 0;
        @media screen and (max-width:991px) {
          padding: 36px 0;
        }
        @media screen and (max-width:767px) {
          padding: 36px 0;
        }
        @media screen and (max-width:575px) {
          padding: 24px 0;
        }
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        flex-wrap: wrap;
        border-top: 1px solid #ffffff80;
        @media screen and (max-width:991px) {
           display: flex;
           justify-content: center;
        }
        .copyright-text {
           font-family: 'Sora' !important;
          font-size: 14px;
          color: $white-color;
        }
        .social-link {
          padding-inline-start: 0 ;
          margin-bottom: 0;
          display: flex;
          align-items: center;
          gap: 15px;
          @media screen and (max-width:575px) {
            gap: 0px;
          }
          list-style: none;
          li{
            display: flex;
            align-items: center;
           a {
      display: inline-block;
      transition: transform 0.6s ease, filter 0.4s ease;
      transform-style: preserve-3d;

      &:hover {
        transform: scale(1.1) rotateY(360deg);
        filter: brightness(1.2);
      }
      img {
        display: block;
        width: 100%;
        height: auto;
        backface-visibility: hidden;
        
      }
          }
        }
        }
      }
    }
  }
}
  


 .contact-info {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 40px;
      @media screen and (max-width:991px) {
        grid-template-columns: 1fr;
        gap: 20px;
      }
      >div {
         position: relative;
        overflow: hidden; 
        border-top: 1px solid #ffffff26;
        padding: 30px 0;
        transition: padding-left 0.4s;
        @media screen and (max-width:991px) {
          padding: 20px 0;
        }
         &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 0%;
            width: 100%;
            background: linear-gradient(180deg, #D81F28 0%, #E0005F 100%);
            z-index: 0;
            transition: height 0.4s ease;
          }
          &:hover{
            padding-left: 20px;
                  &::before {
                height: 100%;
              }
            small{
              color: $white-color;
              position: relative;
              z-index: 1;
            }
          }
      }
      h6 {
        color: $white-color;
        font-size: 26px;
        margin-bottom: 6px;
        position: relative;
        z-index: 1;
        a{
          text-decoration: none;
          color: $white-color;
        }
      }
      small {
        color: $white-color;
         opacity: 0.9;
        font-size: 16px;
       
      }
    } 