footer {
  background-color: $primary-dark;
  @media screen and (min-width: 1400px) {
    .container {
      max-width: 1186px;
    }
  }
  .container {
    padding: 80px 0 34px;
    @media screen and (max-width:991px) {
      padding: 40px 0;
    }
  }
  .footer-bottom-main {
    background-color: $secondary-dark;
    .container {
        @media screen and (min-width:1400px){
          max-width: 1430px;
          width: 100%;
        }
      } 
    .footer-bottom-bar.container{
       padding: 0;
    }
    .footer-bottom-bar {
      width: 100%;
       .certification-logo-wrapper {
        margin: 0 auto;
        overflow: hidden;
        width: 100%;
      }
      .certification-logo {
        padding: 70px 0 70px;
        @media screen and (max-width:1399px) {
            padding: 64px 0 64px;
          }
        @media screen and (max-width:991px) {
           padding: 48px 0 48px;
        }
        @media screen and (max-width:767px) {
          padding: 36px 0 36px;
        }
        @media screen and (max-width:575px) {
          padding: 24px 0 24px;
        }
        .certification-logo.swiper-container {
          width: 100%;
          overflow: hidden;
        }
        .swiper-wrapper {
          transition-timing-function: linear !important; 
          align-items: center;
        }
        .swiper-slide {
          width: auto; 
          display: flex;
          justify-content: center;
          align-items: center;
        }     
        img {
          filter: grayscale(1);
        }
      }
      .copyright-social {
        display: flex;
        padding: 39px 0;
        @media screen and (max-width:991px) {
          padding: 36px 0;
        }
        @media screen and (max-width:767px) {
          padding: 36px 0;
        }
        @media screen and (max-width:575px) {
          padding: 24px 0;
        }
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        flex-wrap: wrap;
        border-top: 1px solid #ffffff80;
        @media screen and (max-width:991px) {
           display: flex;
           justify-content: center;
        }
        .copyright-text {
           font-family: 'Sora' !important;
          font-size: 14px;
          color: $white-color;
        }
        .social-link {
          padding-inline-start: 0 ;
          margin-bottom: 0;
          display: flex;
          align-items: center;
          gap: 15px;
          @media screen and (max-width:575px) {
            gap: 0px;
          }
          list-style: none;
          li{
            display: flex;
            align-items: center;
           a {
      display: inline-block;
      transition: transform 0.6s ease, filter 0.4s ease;
      transform-style: preserve-3d;

      &:hover {
        transform: scale(1.1) rotateY(360deg);
        filter: brightness(1.2);
      }
      img {
        display: block;
        width: 100%;
        height: auto;
        backface-visibility: hidden;
        
      }
          }
        }
        }
      }
    }
  }
}
  


 .contact-info {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 40px;
      @media screen and (max-width:991px) {
        grid-template-columns: 1fr;
        gap: 20px;
      }
      >div {
         position: relative;
        overflow: hidden; 
        border-top: 1px solid #ffffff26;
        padding: 30px 0;
        transition: padding-left 0.4s;
        @media screen and (max-width:991px) {
          padding: 20px 0;
        }
         &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 0%;
            width: 100%;
            background: linear-gradient(180deg, #D81F28 0%, #E0005F 100%);
            z-index: 0;
            transition: height 0.4s ease;
          }
          &:hover{
            padding-left: 20px;
                  &::before {
                height: 100%;
              }
            small{
              color: $white-color;
              position: relative;
              z-index: 1;
            }
          }
      }
      h6 {
        color: $white-color;
        font-size: 26px;
        margin-bottom: 6px;
        position: relative;
        z-index: 1;
        a{
          text-decoration: none;
          color: $white-color;
        }
      }
      small {
        color: $white-color;
         opacity: 0.9;
        font-size: 16px;
       
      }
    } 