footer {
  background-color: $primary-dark;

  @media screen and (min-width: 1300px) {
    .container {
      max-width: 1186px;
    }
  }

  .container {
    padding: 80px 0;

    .form-title {
      h2 {
        display: inline-block;
        font-size: 36px;
        font-weight: 500;
        text-transform: capitalize;
        color: $white-color;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -5px;
          height: 4px;
          width: 70px;
          background: linear-gradient(to right, #d81f28, #ec2730, #cc1763, #e0005f);
          /* Red to pink */
        }
      }
    }

    form {
      margin-top: 50px;

      .form-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media screen and (max-width:768px) {
          grid-template-columns: 1fr;
        }

        row-gap: 50px;
        column-gap: 30px;

        .description,
        .attachment-wrapper,
        .checkbox-div,
        .submit-btn-div {
          grid-column: span 2;

          @media screen and (max-width:768px) {
            grid-column: span 1;
          }
        }

        .attachment-wrapper {
          display: flex;
          flex-direction: column;


          .form-label {
            color: #ffffff;
            margin-bottom: 8px;
          }

          .custom-upload {
            display: flex;
            align-items: center;
            padding: 10px 0;
            border-radius: 4px;
            position: relative;

            .upload-btn {
              background-color: transparent;
              border: 1px solid #ccc;
              color: $white-color;
              padding: 8px 16px;
              font-size: 14px;
              margin-right: 12px;
              cursor: pointer;

            }

            .upload-text {
              color: #aaa;
              font-size: 14px;
              white-space: nowrap;
            }

            .file-input {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              opacity: 0;
              cursor: pointer;
            }
          }
        }

        .form-label {
          color: #ffffff80 !important;
          font-size: 14px;
        }

        .form-floating {
          label {
            color: #ffffff80 !important;
            padding-left: 0;
            font-size: 14px;
          }
        }

        .form-floating>.form-control::placeholder {
          opacity: 0;
        }

        .form-control,
        .form-select {
          padding: 8px 0;
          color: $white-color;
          border: none !important;
          border-bottom: 1px solid #ffffff80 !important;
          border-radius: 0 !important;
          background-color: transparent !important;

          &:focus {
            background-color: transparent !important;
            outline: none !important;
          }

          &::placeholder {
            color: #aaa;
          }
        }
      }
    }


    textarea.form-control {
      resize: vertical;
    }

    .form-check-label {
      color: #ccc;

      a {
        color: #ddd;
        text-decoration: underline;

        &:hover {
          color: $white-color;
        }
      }
    }
.submit-btn-div{
    .btn-submit {
      background: linear-gradient(90.08deg, #D81F28 -0.75%, #E0005F 100.45%);
      color: $white-color;
      border: none;
      width: 100%;
      font-size: 14px;
      padding: 19px auto;
      border-radius: 4px;
      transition: opacity 0.3s;
      font-weight: 500;

      &:hover {
        opacity: 0.9;
      }
    }
  }




    .contact-info {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 30px 0;



      h6 {
        color: $white-color;
        font-size: 26px;
        margin-bottom: 6px;
      }

      small {
        color: rgba(255, 255, 255, 0.6);
        font-size: 16px;
      }
    }
  }

  .footer-bottom-bar {
    background-color: $secondary-dark;
  }
}