*{box-sizing: border-box;}
body{
    font-size: 16px;
    color:$primary-dark;
    margin: 0;
    padding: 0;
    font-family: $body-font-family;
    font-weight: normal;
    background: $body-bg;
    overflow-x: hidden;
    position: relative;
}
a,.btn-sub,button{
    transition: $transition-animate;
    outline: 0;
    text-decoration:none;
}
a{
    &:hover,&:active,&:focus{
        text-decoration:none;
        outline: none;
    }
    img{
        border:0px;
    }
    
    &:hover{
        color: $primary-color;
    }
 
}

button{
    background: transparent;
    border: 0;
}

img{
    max-width: 100%;
    display: block;
}
.section-space{
    padding: 70px 0;
    @media screen and (max-width: 991px){
        padding: 55px 0;
    }
    @media screen and (max-width: 575px){
        padding: 45px 0;
    }
}
.container{
    @media screen and (min-width: 1600px){
        max-width: 1454px;
    }
}
.g-2,.gx-2{--bs-gutter-x:0.6rem}.g-2,.gy-2{--bs-gutter-y:0.6rem}

/*general style*/
p{
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 20px;
    font-weight: 400;
    @media only screen and (max-width: 991px) {
        margin: 0 0 16px;
        font-size: 15px;
        line-height: 24px;
    }
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{ 
    font-weight: 600;
    font-family: $heading-font-family;
}

h1,.h1{
    font-weight: 600;
    font-size: 64px;
    line-height: 1.34;
    margin: 0 0 30px;
    letter-spacing: 0.64px;
    color: $white-color;
    @media only screen and (max-width: 1799px) {
        font-size: 60px;
        letter-spacing: 0.55px;
         margin: 0 0 25px;
    }
    @media only screen and (max-width: 1399px) {
        font-size:46px;
        letter-spacing: 0.45px;
         margin: 0 0 20px;
    }
    @media only screen and (max-width: 1199px) {
        font-size:40px;
        letter-spacing: 0.40px;
        
    }

    @media only screen and (max-width: 991px) {
         font-size:34px;
          letter-spacing: 0.30px;
           margin: 0 0 15px;
    }
    @include breakpoint(s-tablet) {
         font-size:28px;
    }
}
h2,.h2{
    font-size: 40px;
    color: $secondary-font-color;
    margin: 0 0 14px;
    line-height: 44px;
    text-transform: uppercase;
    letter-spacing: 2px;
    @media only screen and (max-width: 1399px) {
        font-size:36px;
        line-height: 40px;
    }
    @media only screen and (max-width: 575px) {
        font-size:32px;
    }
}
h3,.h3{
    font-size: 26px;
    margin: 0 0 10px;
    font-weight: 600;
}
h4,.h4{
    font-size: 20px;
    margin: 0 0 10px;
    line-height: 24px;
}

.white-bg{
    background: white $i;
}
.light-bg{
    background: $light-grey $i;
}
.primary-bg{
    background: $primary-color $i;
}
.secondary-bg{
    background: $secondary-color $i;
}
.secondary-bg{
    background: $secondary-color $i;
}
.grey-bg{
    background: $primary-dark $i;
}
.border{
    border-color: $border-color $i;
}

/* btn */
.btn{
    text-transform: capitalize;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.32px; 
    background: $gradiant-color;
    color: $white-color;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
      padding: 18px 40px;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: $transition-animate;
    position: relative;
    &:hover{
        background: $white-color;
        color: $primary-color;
        border: 1px solid $primary-color;
    }
    &:focus{
        outline: none;
        box-shadow: none;
    }

    @media (max-width:1199px) {
         font-size: 14px;
           padding: 12px 30px;
    }
}
.primary-btn {
    padding: 18px 40px;
}

.secondary-btn{
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid $white-color;

}

.white-btn{
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
    background: $white-color;
    border: 1px solid $white-color;
    color: $primary-color;
    &:hover{
        background: rgba(255, 255, 255, 0.1);
        color: $white-color;
    }

}

label{
    font-weight: normal;
    margin-bottom: 8px;
    font-size: 16px;
    span{
        color: #FF0000;
    }
}
.form-control{
    font-size: 14px;
    border: 1px solid rgba($color: black, $alpha: 0.10);
    background: transparent;
    padding: 8px 20px;
    resize: none;
    height: 44px;
    color: $secondary-color;
    border-radius: 4px;
    &:focus{
        box-shadow: none !important;
        outline: none;
        border-color: $border-color;
    }
    &::-webkit-input-placeholder {
        color: rgba($color: black, $alpha: 0.40);
    }
    &[type="date"],&[type="datetime-local"]{
        &::-webkit-calendar-picker-indicator{
     
            background: url(../images/date-icon.svg) no-repeat right center;
            width: 20px;
            height: 20px;
        }
    }
}
select{
    // background: $light-grey url(../images/select-arrow.svg) no-repeat center right 20px !important;
    appearance: none;
    cursor: pointer;
    background-size: 14px !important;
    padding-right: 50px !important;
    &.trans-select{
        border: none;
        color: $secondary-font-color;
        height: 24px;
        background-color: transparent !important;
        font-size: 12px;
        background-size: 10px !important;
        padding: 3px 25px 4px 10px !important;
        background-position: center right 7px !important;
    }
    &.sm-select{
        color: $secondary-font-color;
        height: 38px;
        font-size: 16px;
        padding: 4px 20px 4px 10px;
        background-position: center right 12px !important;
        background-size: 10px !important;
    }
}
select::-ms-expand {display: none;}
textarea.form-control{
    min-height: 130px;
    padding: 14px 20px;
}

/* breadcrumb */
.breadcrumb{
    padding: 0;
    background: transparent;
    margin-bottom: 0;
    .breadcrumb-item{
        font-size: 18px;
        padding-left:12px;
        &:before{
            content: '\f054';
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 10px;
            padding-right: 12px;
            margin-top: 3px;
            font-size: 14px;
            color: rgba($color: $primary-font-color, $alpha: 0.8);
        }
        &:first-child{
            padding-left: 0;
            &::before{
                display: none;
            }
        }
        a{
            color: rgba($color: $primary-font-color, $alpha: 0.8);
            &:hover{
               
            }
        }
        &.active{
            color: $secondary-font-color;
        }
    }
    @media only screen and (max-width: 991px) {
        .breadcrumb-item{
            padding-left:10px;
            font-size: 16px;
            &:before{
                padding-right: 10px;
                font-size: 12px;
            }
        }
    }
}

.pagination{
    flex-wrap: wrap;
    .page-item{
        font-size: 18px;
        min-width: 80px;
        text-align: center;
        margin-bottom: -1px;
        i{
            font-size: 14px;
        }
        .page-link{
            padding: 10px;
            color: #7C7C7C;
            span{
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 118px;
            }
            &:hover,&.current{
                background: $primary-color;
                color: white;
            }
        }
        &.active{
            .page-link{
                background: $primary-color;
                color: white;
                border-color: inherit;
            }
        }
        &:first-child {
            .page-link{
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }
        &:last-child {
            .page-link{
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
        @media only screen and (max-width: 1199px) {
            font-size: 16px;
            min-width: 44px;
            .page-link{
                span{
                    min-width: inherit;
                }
            }
        }
    }
}
.section-title {
    position: relative;
    margin-bottom: 70px;
    @include breakpoint(s-tablet) {
         margin-bottom: 48px;
    }
    h2 {
        color: $primary-dark;
        text-transform: none;
        margin: 0;
        padding-bottom: 16px;
        position: relative;
        letter-spacing: 0.8px;
        @include breakpoint(l-tablet) {
            font-size: 32px;
            line-height: 1.6;
        }
        @include breakpoint(s-tablet) {
            font-size: 24px;
        }
        &:before {
            content: '';
            position: absolute;
            left: 36px;
            bottom: 0;
            width: 18px;
            height: 6px;
            background: #CC1763;
        }
        &:after {
            content: '';
            position: absolute;
            left: 54px;
            bottom: 0;
            width: 18px;
            height: 6px;
            background: #E0005F;
        }
    }
    &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 18px;
        height: 6px;
        background: #D81F28;
    }
    &:after {
        content: '';
        position: absolute;
        left: 18px;
        bottom: 0;
        width: 18px;
        height: 6px;
        background: #EC2730;
    }
}
.section-desc {
    font-size: 18px;
    letter-spacing: 0.04em;
    line-height: 1.65;
}

 .banner-discription{
       font-weight: 500;
        font-size: 20px;
        line-height: 1.6;
        letter-spacing: 0.8px;
        background: linear-gradient(325deg, #f5f5f5 0%, #fff 99.78%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        margin-bottom: 30px;

     
    @media only screen and (max-width: 1399px) {
        font-size:18px;
        letter-spacing: 0.6px;
           margin-bottom: 25px;
    }
  
    @media only screen and (max-width: 991px) {
         font-size:16px;
        letter-spacing: 0.4px;
           margin-bottom: 15px;
    }
    
}

.breadcrumb {
    margin-bottom: 35px;
    .breadcrumb-item {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        padding-left: 30px;
        position: relative;
        &.active {
            opacity: 0.5;
        }
        &:before {
            content: '';
            width: 6px;
            height: 6px;
            margin: 0;
            padding: 0;
            transform: rotate(45deg);
            border: 2px solid $white-color;
            border-left: 0;
            border-bottom: 0;
            position: absolute;
            left: 10px;
            top: 6px;
        }
        a {
            color: $white-color;
        }
    }
}

.tabs-wrapper {
    border-bottom: 1px solid #000;
    margin-bottom: 40px;
    .nav-item {
        flex: 1;
        .nav-link {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 16px;
            color: #000;
            font-weight: 300;
            border: 0;
            border-bottom: 2px solid transparent;
            transition: $transition-animate;
            white-space: nowrap;
            &.active {
                background: linear-gradient(0deg, #FFEEEF 0%, #FAFAFA 100%);
                border-color: $primary-color;
                font-weight: 600;
                color: $primary-color;
            }
        }
    }
}

.load-btn {
    font-family: $sora-font-family;
    margin-top: 40px;
    margin: auto;
}