*{box-sizing: border-box;}
html {
    overflow-x: hidden;
}
body{
    font-size: 16px;
    color:$primary-dark;
    margin: 0;
    padding: 0;
    font-family: $body-font-family;
    font-weight: normal;
    background: $body-bg;
    position: relative;
}
a,.btn-sub,button{
    transition: $transition-animate;
    outline: 0;
    text-decoration:none;
}
a{
    &:hover,&:active,&:focus{
        text-decoration:none;
        outline: none;
    }
    img{
        border:0px;
    }
    
    &:hover{
        color: $primary-color;
    }
 
}

button{
    background: transparent;
    border: 0;
}

.text-primary-red{
    color: $primary-color $i;
}
.font-36{
    font-size: 36px !important;
}

img{
    max-width: 100%;
    display: block;
}
.section-space{
    padding: 70px 0;
    @media screen and (max-width: 991px){
        padding: 55px 0;
    }
    @media screen and (max-width: 575px){
        padding: 45px 0;
    }
}
.container{
    @media screen and (min-width: 1600px){
        max-width: 1454px;
    }
}
.g-2,.gx-2{--bs-gutter-x:0.6rem}.g-2,.gy-2{--bs-gutter-y:0.6rem}

/*general style*/
p{
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 20px;
    font-weight: 400;
    @media only screen and (max-width: 991px) {
        margin: 0 0 16px;
        font-size: 15px;
        line-height: 24px;
    }
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{ 
    font-weight: 600;
    font-family: $heading-font-family;
}

h1,.h1{
    font-weight: 600;
    font-size: 64px;
    line-height: 1.34;
    margin: 0 0 30px;
    letter-spacing: 0.64px;
    color: $white-color;
    @media only screen and (max-width: 1799px) {
        font-size: 60px;
        letter-spacing: 0.55px;
         margin: 0 0 25px;
    }
    @media only screen and (max-width: 1399px) {
        font-size:46px;
        letter-spacing: 0.45px;
         margin: 0 0 20px;
    }
    @media only screen and (max-width: 1199px) {
        font-size:40px;
        letter-spacing: 0.40px;
        
    }

    @media only screen and (max-width: 991px) {
         font-size:34px;
          letter-spacing: 0.30px;
           margin: 0 0 15px;
    }
    @include breakpoint(s-tablet) {
         font-size:28px;
    }
}
h2,.h2{
    font-size: 40px;
    color: $secondary-font-color;
    margin: 0 0 14px;
    line-height: 44px;
    text-transform: uppercase;
    letter-spacing: 2px;
    @media only screen and (max-width: 1399px) {
        font-size:36px;
        line-height: 40px;
    }
    @media only screen and (max-width: 575px) {
        font-size:32px;
    }
}
h3,.h3{
    font-size: 26px;
    margin: 0 0 10px;
    font-weight: 600;
}
h4,.h4{
    font-size: 20px;
    margin: 0 0 10px;
    line-height: 24px;
}

.white-bg{
    background: white $i;
}
.light-bg{
    background: $light-grey $i;
}
.primary-bg{
    background: $primary-color $i;
}
.secondary-bg{
    background: $secondary-color $i;
}
.secondary-bg{
    background: $secondary-color $i;
}
.grey-bg{
    background: $primary-dark $i;
}
.border{
    border-color: $border-color $i;
}

/* btn */
.btn{
    text-transform: capitalize;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.32px; 
    background: $gradiant-color;
    color: $white-color;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 18px 40px;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: $transition-animate;
    position: relative;
    &:hover{
        color: $white-color;
        background-color: $hover-gradiant-color;
        border-color: transparent;
    }
    &:focus{
        outline: none;
        box-shadow: none;
    }

    @media (max-width:1199px) {
         font-size: 14px;
           padding: 12px 30px;
    }
}
.primary-btn {
    padding: 18px 40px;
}

.secondary-btn{ 
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid $white-color;
    &:hover {
        border-color: $primary-color;
        background: $gradiant-color;
    }
}
.red-hover-white{
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid $white-color;
    &:hover{
        color: $primary-color;
        border-color: $primary-color;
        background: $white-color;
    }
}

.white-btn{
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
    background: $white-color;
    border: 1px solid $white-color;
    color: $primary-color;
    &:hover{
        // background: rgba(255, 255, 255, 0.1);
        color: $white-color;
        box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.15);
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid #ffffff;
    }

}

label{
    font-weight: normal;
    margin-bottom: 8px;
    font-size: 16px;
    span{
        color: #FF0000;
    }
}
.form-control{
    font-size: 14px;
    border: 1px solid rgba($color: black, $alpha: 0.10);
    background: transparent;
    padding: 8px 20px;
    resize: none;
    height: 44px;
    color: $secondary-color;
    border-radius: 4px;
    &:focus{
        box-shadow: none !important;
        outline: none;
        border-color: $border-color;
    }
    &::-webkit-input-placeholder {
        color: rgba($color: black, $alpha: 0.40);
    }
    &[type="date"],&[type="datetime-local"]{
        &::-webkit-calendar-picker-indicator{
     
            background: url(../images/date-icon.svg) no-repeat right center;
            width: 20px;
            height: 20px;
        }
    }
}
select{
    // background: $light-grey url(../images/select-arrow.svg) no-repeat center right 20px !important;
    appearance: none;
    cursor: pointer;
    background-size: 14px !important;
    padding-right: 50px !important;
    &.trans-select{
        border: none;
        color: $secondary-font-color;
        height: 24px;
        background-color: transparent !important;
        font-size: 12px;
        background-size: 10px !important;
        padding: 3px 25px 4px 10px !important;
        background-position: center right 7px !important;
    }
    &.sm-select{
        color: $secondary-font-color;
        height: 38px;
        font-size: 16px;
        padding: 4px 20px 4px 10px;
        background-position: center right 12px !important;
        background-size: 10px !important;
    }
}
select::-ms-expand {display: none;}
textarea.form-control{
    min-height: 130px;
    padding: 14px 20px;
}

/* breadcrumb */
.breadcrumb{
    padding: 0;
    background: transparent;
    margin-bottom: 0;
    .breadcrumb-item{
        font-size: 18px;
        padding-left:12px;
        &:before{
            content: '\f054';
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 10px;
            padding-right: 12px;
            margin-top: 3px;
            font-size: 14px;
            color: rgba($color: $primary-font-color, $alpha: 0.8);
        }
        &:first-child{
            padding-left: 0;
            &::before{
                display: none;
            }
        }
        a{
            color: rgba($color: $primary-font-color, $alpha: 0.8);
            &:hover{
               
            }
        }
        &.active{
            color: $secondary-font-color;
        }
    }
    @media only screen and (max-width: 991px) {
        .breadcrumb-item{
            padding-left:10px;
            font-size: 16px;
            &:before{
                padding-right: 10px;
                font-size: 12px;
            }
        }
    }
}

.pagination{
    flex-wrap: wrap;
    .page-item{
        font-size: 18px;
        min-width: 80px;
        text-align: center;
        margin-bottom: -1px;
        i{
            font-size: 14px;
        }
        .page-link{
            padding: 10px;
            color: #7C7C7C;
            span{
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 118px;
            }
            &:hover,&.current{
                background: $primary-color;
                color: white;
            }
        }
        &.active{
            .page-link{
                background: $primary-color;
                color: white;
                border-color: inherit;
            }
        }
        &:first-child {
            .page-link{
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }
        &:last-child {
            .page-link{
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
        @media only screen and (max-width: 1199px) {
            font-size: 16px;
            min-width: 44px;
            .page-link{
                span{
                    min-width: inherit;
                }
            }
        }
    }
}
.section-title {
    position: relative;
    margin-bottom: 70px;
    @include breakpoint(s-tablet) {
         margin-bottom: 24px;
    }
    h2 {
        color: $primary-dark;
        text-transform: none;
        margin: 0;
        padding-bottom: 16px;
        position: relative;
        letter-spacing: 0.8px;
        @include breakpoint(l-tablet) {
            font-size: 32px;
            line-height: 1.6;
        }
        @include breakpoint(s-tablet) {
            font-size: 24px;
        }
        &:before {
            content: '';
            position: absolute;
            left: 36px;
            bottom: 0;
            width: 18px;
            height: 6px;
            background: #CC1763;
        }
        &:after {
            content: '';
            position: absolute;
            left: 54px;
            bottom: 0;
            width: 18px;
            height: 6px;
            background: #E0005F;
        }
    }
    &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 18px;
        height: 6px;
        background: #D81F28;
    }
    &:after {
        content: '';
        position: absolute;
        left: 18px;
        bottom: 0;
        width: 18px;
        height: 6px;
        background: #EC2730;
    }
}
.section-desc {
    font-size: 18px;
    letter-spacing: 0.04em;
    line-height: 1.65;
}

 .banner-discription{
       font-weight: 500;
        font-size: 20px;
        line-height: 1.6;
        letter-spacing: 0.8px;
        background: linear-gradient(325deg, #f5f5f5 0%, #fff 99.78%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        margin-bottom: 30px;

     
    @media only screen and (max-width: 1399px) {
        font-size:18px;
        letter-spacing: 0.6px;
           margin-bottom: 25px;
    }
  
    @media only screen and (max-width: 991px) {
         font-size:16px;
        letter-spacing: 0.4px;
           margin-bottom: 15px;
    }
    
}

.breadcrumb {
    margin-bottom: 35px;
    .breadcrumb-item {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        padding-left: 30px;
        position: relative;
        &.active {
            opacity: 0.5;
        }
        &:before {
            content: '';
            width: 6px;
            height: 6px;
            margin: 0;
            padding: 0;
            transform: rotate(45deg);
            border: 2px solid $white-color;
            border-left: 0;
            border-bottom: 0;
            position: absolute;
            left: 10px;
            top: 8px;
        }
        a {
            color: $white-color;
        }
    }
}

.tabs-wrapper {
    border-bottom: 1px solid #000;
    margin-bottom: 40px;
    .nav-item {
        flex: 1;
        .nav-link {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 16px;
            color: #000;
            font-weight: 300;
            border: 0;
            border-bottom: 2px solid transparent;
            transition: $transition-animate;
            white-space: nowrap;
            &.active {
                background: linear-gradient(0deg, #FFEEEF 0%, #FAFAFA 100%);
                border-color: $primary-color;
                font-weight: 600;
                color: $primary-color;
            }
        }
    }
}

.load-btn {
    font-family: $sora-font-family;
    margin-top: 40px;
    margin: auto;
}
.checkbox-wrapper {
    width: 20px;
    min-width: 20px;
    height: 20px;
    border-radius: 6px;
    border: 2px solid $primary-color;
    margin-right: 8px;
    position: relative;
    input {
        opacity: 0;
        z-index: 1;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        &:checked + span {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background: $primary-color;
            &:after {
                content: '';
                position: absolute;
                width: 10px;
                height: 5px;
                border: 2px solid $white-color;
                border-top: 0;
                border-right: 0;
                transform: rotate(-45deg);
                left: 3px;
                top: 4px;
            }
        }
    }
}
form {
    font-family: $sora-font-family;
    margin: 50px 0 50px;
    .form-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 50px;
      column-gap: 30px;
      @media screen and (max-width:767px) {
        grid-template-columns: 1fr;
        row-gap: 30px;
      }
       input:-webkit-autofill {
        background-color: transparent;
        -webkit-box-shadow: 0 0 0 1000px transparent inset;
        -webkit-text-fill-color: $white-color;
        transition: background-color 5000s ease-in-out 0s;
      }
      .description,
      .attachment-wrapper,
      .checkbox-div,
      .submit-btn-div {
        font-family: $sora-font-family;
        grid-column: span 2;
        @media screen and (max-width:767px) {
          grid-column: span 1;
        }
      }
      .select-wrapper .form-select{
        background-image: none;
      }
      .select-wrapper {
        position: relative;
        max-width: fit-content;
        width: 100%;
        #timezone {
        max-width: fit-content;
        // height: 44px;
        @media screen and (max-width:767px) {
           max-width: 130px;
        }
        background-color: transparent;
        color: $white-color;
        border: none;
        border-bottom: 1px solid #ffffff80;
        border-radius: 0;
        padding: 8px 12px 0 0;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        font-size: 14px;
        option {
          background-color: $primary-dark;
          color: $white-color;
          border-radius: 0 $i;
        }
      }
        select {
          width: 100%;
          padding-right: 30px; 
        }
        &::after {
          content: '';
          position: absolute;
          right: 10px;
          top: 61%;
          transform: translateY(-50%);
          width: 12px;
          height: 7px;
          background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.951172 0.5L5.95117 5.5L10.9512 0.5' stroke='white' stroke-opacity='0.5'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-size: contain;
          pointer-events: none;
        }
      }
      .attachment-wrapper {
        font-family: $sora-font-family;
        display: flex;
        flex-direction: column;
        .custom-upload {
          display: flex;
          align-items: center;
          padding: 10px 0;
          border-radius: 4px;
          position: relative;
          row-gap: 10px;
          flex-wrap: wrap;
          .upload-btn {
             font-family: $sora-font-family;
            background-color: $secondary-dark ;
            border: 1px solid #ffffff80;
            margin-right: 12px;
            font-size: 14px;
            margin-right: 12px;
            cursor: pointer;
            max-width: 179px;
            width: 100%;
            padding: 15px 6px;
            color: #ffffff80;
            outline: none;
          }
          .upload-text {
             font-family: $sora-font-family;
            color: #ffffff40;
            font-size: 14px;
            white-space: nowrap;
          }
          .file-input {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            cursor: pointer;
          }
        }
      }
      .form-label {
         font-family: $sora-font-family;
        color: #ffffff80 $i;
        font-size: 14px;
        margin-bottom: 8px;
      }
      .input-prefix-wrapper {
          position: relative;
          width: 100%;
        }
        .input-prefix-wrapper .prefix-text {
          position: absolute;
          left: 12px;
          top: 50%;
          transform: translateY(-50%);
          color: #ffffffb3;
           font-family: $sora-font-family;
          font-size: 14px;
          pointer-events: none;
        }
        .input-prefix-wrapper input {
          padding-left: 48px; 
        }
        .form-floating > .form-control,
        .form-floating > .form-select {
            height: calc(3rem + 2px);
            line-height: 1.25;
            padding-top: 10px;
        }
        .form-floating > #description{
          padding-top: 20px;
        }
      .form-floating {
        label {
        font-family: $sora-font-family;
          color: #ffffff80;
          padding-left: 0;
          font-size: 14px;
          padding: 12px 0 0;
          margin-bottom: 0;
          transition: padding-top 0.4s ease;
        }
        >.form-control::placeholder {
          opacity: 0;
        }
        >.form-control:focus~label,
        >.form-control:not(:placeholder-shown)~label {
          padding-top: 0;
        }
      }
      .form-control,
      .form-select {
         font-family: $sora-font-family;
        padding: 12px 0 0;
        color: $white-color;
        border: none;
        border-bottom: 1px solid #ffffff80;
        border-radius: 0;
        background-color: transparent;
        &:focus,
        &:active {
          background-color: transparent;
          outline: none;
          border-bottom-color: $white-color;
          transition: border-bottom-color 0.4s ease-in-out;
          box-shadow: none;
        }
        &::placeholder {
          color: #ffffff80;
        }
      }
      .form-select {
        padding: 19px 0 ;
      }
      .form-check-input{
        height: 26px;
        width: 26px;
        border-radius: 3px;
        margin-right: 18px;
        background-color: $secondary-dark;
        border: 1px solid #ffffff80;
        border-radius: 3px;
      }
      .form-check-input:checked {
        background-color: #d81f28;
        border-color: #d81f28;
      }
      .form-check-input:focus{
        box-shadow: none;
      }
              .form-floating>.form-control:focus~label,
              .form-floating>.form-control:not(:placeholder-shown)~label,
              .form-floating>.form-select~label {
                opacity: 0.65;
                transform: scale(1) translateY(-0.5rem) translateX(0rem);
                -webkit-transform: scale(1) translateY(-0.5rem) translateX(0rem);
              }

      .form-floating > textarea.form-control:not(:placeholder-shown) ~ label {
        padding-top: 0;
        transition: padding-top 0.3s ease;
      }
      textarea.form-control{
         min-height: 85px;
      }
      textarea.form-control {
        resize: vertical;
        padding: 22px 0 0;
      }
      .form-check-label {
        color: #ffffff40;
        font-size: 14px;
        a {
          color: $white-color;
          text-decoration: underline;
          &:hover {
            color: $white-color;
          }
        }
        }
        .submit-btn-div {
            .btn-submit {
                font-family: $sora-font-family;
                background: linear-gradient(90.08deg, #D81F28 -0.75%, #E0005F 100.45%);
                color: $white-color;
                border: none;
                width: 100%;
                font-size: 16px;
                padding: 19px 0 ;
                border-radius: 4px;
                transition: opacity 0.3s;
                font-weight: 500;
                line-height: normal;
                &:hover {
                    background: linear-gradient(90.08deg, #D81F28 -0.75%, #f15596 100.45%);
                    transition: $transition-animate;
                }
            }
        }
        &.dark-form {
            .form-control {
                color: $dark-grey;
                border-bottom-color: $primary-dark;
                font-family: $body-font-family;
                font-size: 16px;
            }
            .form-floating {
                label {
                    color: $primary-dark;
                    opacity: 0.6;
                    font-family: $body-font-family;
                }
                .underline {
                    background-color: #ccc;
                }
            }
        }
        &.full {
            grid-template-columns: 1fr;
            row-gap: 22px;
        }
    }
  }