header{
  display: flex;
  align-items: center;
    padding: 20px 0;
  background-color: $white-color;
 
      @media (max-width:1799px) {
         padding: 15px 0;
    }

      
  .site-logo{
     @media (max-width:1799px) {
          max-width: 180px;
    }
    @media (max-width:1366px) {
      max-width: 160px;
    }

    @media (max-width:480px) {
                max-width: 130px;
  
    }
  }
  .container{
    display: flex;
    align-items: center;
    
    >.btn{
        padding: 12px 26px;

        @media (max-width:1199px) {
          padding: 10px 20px;
        }

          @media (max-width:480px) {
          padding: 10px 12px;
        }
    }

    .menu-toggle{
      width: 25px;
      height: 25px;
      padding: 0;
      margin-left: 10px;

      svg{
          width: 25px;
          height: 25px;
      }
    }
  }
}

body{
    &.scrolled{
      padding-top: 90px;

      @media (max-width:1799px) {
         padding-top: 73px;

      }

       @media (max-width:1199px) {
         padding-top: 67px;

      }
     header{
       position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 9999;
      animation: sticky-menu 0.8s forwards;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
     }
    }


}

@keyframes sticky-menu {
  0% {
    top: -50%;
}
100% {
    top: 0;
}
}
//aazam