header{
  display: flex;
  align-items: center;
    padding: 20px 0;
  background-color: $white-color;
    &.scrolled{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 9999;
    }

      @media (max-width:1799px) {
         padding: 15px 0;
    }

      
  .site-logo{
     @media (max-width:1799px) {
          max-width: 180px;
    }
    @media (max-width:1366px) {
      max-width: 160px;
    }
  }
  .container{
    display: flex;
    align-items: center;
    
    .menu-toggle {
      width: 35px;
      height: 35px;
      position: relative;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 6px;
      padding: 6px 0;
      background: transparent;
      outline: none;
      border: 0;
      margin-left: 15px;
      span {
        display: block;
        height: 3px;
        background: $primary-dark;
        border-radius: 2px;
        transition: all 0.3s ease;
        position: relative;
      }
//  &.active {
//     span {
//       &:nth-child(1) {
//         transform: rotate(45deg) translateY(10px)  ;
//         top: 4px;
//       }

//       &:nth-child(2) {
//         opacity: 0;
//       }

//       &:nth-child(3) {
//         transform: rotate(-45deg) translateY(-10px)  ;
//       }
//     }
//   }
}

    >.btn{
        padding: 12px 26px;
        &:hover{
          border: 1px solid $primary-color;
        }
    }
  }
}
//aazam