$body-bg:    #fff !default;

/* Fonts settings */
$body-font-family: "NeueHaasGroteskDisp Pro", sans-serif;
$heading-font-family: "NeueHaasGroteskText Pro Md", sans-serif;

/* Colors */
$primary-color: #D81F28;
$secondary-color: #E0005F;
$white-color: #ffffff;
$black-color:#000000;
$primary-dark : #1d1d1d;
$secondary-dark : #242424;
$gradiant-color: linear-gradient(90.08deg, #D81F28 -0.75%, #E0005F 100.45%);

 
/* font colors */
$primary-font-color: $primary-dark;  
$secondary-font-color: $white-color; 
$light-grey: #f5f5f5;
$dark-grey: #282828;
/* border colors */
$border-color: rgba($color: $secondary-color, $alpha: 0.1);

/* transition */
$transition-animate: all ease 0.4s;

/* important */
$i: unquote("!important");